<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Di Pietro Brenda</p>
        <p id="titulo">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span><h1>Sobre mí</h1></span>
        <p>Tengo 25 años, soy de Berisso, Buenos Aires. Actualmente curso el primer año de la Licenciatura en Sistemas en la UNLP. Me gustaría dedicarme al desarrollo
             Front End ya que también cuento con conocimientos de diseños de haber estudidado 3 años la Licenciatura en Diseño y comunicación visual.  </p>
    </div>
</div>