<div class="row">
    <h1 class="tituloexperiencias">Experiencias laborales</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, totam nobis. Quos quia laboriosam laborum voluptatem consequuntur vel ullam totam impedit dolore iusto, natus accusantium aliquam? Nobis corrupti ut officia pariatur a. Consequatur qui quis unde vitae quam deserunt laboriosam?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, totam nobis. Quos quia laboriosam laborum voluptatem consequuntur vel ullam totam impedit dolore iusto, natus accusantium aliquam? Nobis corrupti ut officia pariatur a. Consequatur qui quis unde vitae quam deserunt laboriosam?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, totam nobis. Quos quia laboriosam laborum voluptatem consequuntur vel ullam totam impedit dolore iusto, natus accusantium aliquam? Nobis corrupti ut officia pariatur a. Consequatur qui quis unde vitae quam deserunt laboriosam?</p>
        </ul>
    </div>
</div>