<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [maxPercent]="100"
    [title]="'HTML'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
    [percent]="50"
    [maxPercent]="100"
    [title]="'CSS'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="40"
    [maxPercent]="100"
    [title]="'JavaScript'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="80"
    [maxPercent]="100"
    [title]="'Ingles'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="80"
    [maxPercent]="100"
    [title]="'Adaptación'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [maxPercent]="100"
    [title]="'Organizacion'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="90"
    [maxPercent]="100"
    [title]="'Teamwork'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [maxPercent]="100"
    [title]="'Flexibilidad'"
    [titleFontSize]="'15'"
    [showSubtitle]="false"
    [subtitleFontSize]="'14'"
    [showUnits]="false"
    [radius]="60"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [space]="-10"
    [outerStrokeColor]="'#c247be'"
    [innerStrokeColor]="'#C7E596'"
    [outerStrokeGradientStopColor]="'#fba7f4'"
    [outerStrokeGradient]="true"
    [innerStrokeColor]="'#cccccc'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
</div>